@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

html,
body {
  height: 100%;
}

.auth-main-bg {
  color: white;
}
.login-main-bg {
  color: black;
}

.email-input {
  height: 50px;
  padding: 0 16px;
  width: 20rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #c2c8d0;
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.2s ease;
}

.user-email-input {
  height: 50px;
  padding: 0 16px;
  width: 20rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #c2c8d0;
  border-radius: 3px;
  font-size: 16px;
}

.email-label {
  position: absolute;
  font-size: 16px;
  top: 13px;
  left: 13px;
  color: #828282;
  padding: 0 5px;
  transition: 0.2s;
  pointer-events: none;
}

.edit-email-label {
  position: absolute;
  font-size: 16px;
  top: 13px;
  left: 275px;
  color: #7988ec;
  cursor: pointer;
}

.email-input:focus,
.email-input:valid {
  border: 1px solid #8696FE;
}

.email-input:not(:focus):valid {
  border: 1px solid #c2c8d0;
}

.email-input:not(:focus):valid + .email-label {
  color: #828282;
}

.email-input:focus + .email-label,
.email-input:valid + .email-label {
  top: -12px;
  left: 8px;
  color: #8696FE;
  font-size: 14px;
  background-color: white;
}

.lines {
  width: 100%;
  position: relative;
}

.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  background: #7988ec;
  width:38%;
  top: 50%;
}

.lines::after {
  left: 0;
}

.lines::before {
  right: 0;
}

.wrap {
  padding-left: 15px;
  padding-right: 15px;
}
.text {
  color: rgb(255, 64, 64);
  opacity: 80%;
}